<!DOCTYPE HTML>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>在线答题考试系统</title>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <!--时间js-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'css/test.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color: #fff;
        }
    </style>
</head>

<body>
{#<nav class="navbar navbar-expand-sm bg-light navbar-light ">#}
{#    <ul class="navbar-nav">#}
{#        <li class="nav-item active" style="text-align: center">#}
{#            <a class="nav-link">#}
{#                <h3>当前科目:{{ paper.name }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h3>#}
{#            </a>#}
{#        </li>#}
{#        <li style="position: sticky;right: 70px; font-size: 30px;color: #000000">{{ title }}</li>#}
{#        <li style="position: fixed;right: 70px; font-size: 30px;color: #9fcdff">{{ request.user.nick_name }}</li>#}
{#        <p style="text-align: center;margin-top: 20px;font-size: 10px;color: #000000">#}
{#            {{ student.sid }}&emsp;{{ student.name }}&emsp;{{ student.major }}</p>#}
{#    </ul>#}
{#</nav>#}

<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form action="{% url 'exam:calgrade' %}?paper={{ paper.pk }}" method="post">
                {% csrf_token %}
                    <div class="test_title">
                        <p class="test_time">
                            <i class="glyphicon glyphicon-dashboard"></i><b class="alt-1">考试时长：{{ paper.test_time }}分钟</b>
                        </p>
                        <input class="tijiao" type="submit" name="tijiao" value="交卷">
                        <div style="float: right;margin-left: 10px"><span id="timer" style="color:red;"></span></div>
                    </div>

                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>{{ paper.name }}</h2>
                            <p>
                                <span>共</span><i class="content_lit">{{ paper.get_counts }}</i><span>题，</span>
                                <span>合计</span><i class="content_fs">{{ paper.get_scores }}</i><span>分</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul>
                            {% for sub_j in paper.get_singles %}
                                <li id="{{ forloop.counter }}">
                                    <div class="test_content_nr_tt">
                                        <i>{{ forloop.counter }}</i><span>单选题({{ sub_j.score }}分)</span>
                                        <span>{{ sub_j.title | safe }}</span>
                                    </div>
                                    <div class="test_content_nr_main">
                                        <i>你的答案</i>
                                        <input type="radio" name="{{ sub_j.pk }}" value="A">&nbsp;A&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="{{ sub_j.pk }}" value="B">&nbsp;B&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="{{ sub_j.pk }}" value="C">&nbsp;C&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="{{ sub_j.pk }}" value="D">&nbsp;D&nbsp;&nbsp;&nbsp;
                                    </div>
                                </li>
                            {% endfor %}
                            {% for sub_j in paper.get_multiples %}
                                <li id="{{ forloop.counter }}">
                                    <div class="test_content_nr_tt">
                                        <i>{{ forloop.counter }}</i><span>多选题({{ sub_j.score }}分)</span>
                                        <span>{{ sub_j.title | safe }}</span>
                                    </div>
                                    <div class="test_content_nr_main">
                                        <i>你的答案</i>
                                        <input type="checkbox" name="{{ sub_j.pk }}" value="A">&nbsp;A&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="{{ sub_j.pk }}" value="B">&nbsp;B&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="{{ sub_j.pk }}" value="C">&nbsp;C&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" name="{{ sub_j.pk }}" value="D">&nbsp;D&nbsp;&nbsp;&nbsp;
                                    </div>
                                </li>
                            {% endfor %}
                            {% for sub_j in paper.get_judges %}
                                <li id="{{ forloop.counter }}">
                                    <div class="test_content_nr_tt">
                                        <i>{{ forloop.counter }}</i><span>判断题({{ sub_j.score }}分)</span>
                                        <span>{{ sub_j.title | safe }}</span>
                                    </div>
                                    <div class="test_content_nr_main">
                                        <i>你的答案</i>
                                        <input type="radio" name="{{ sub_j.pk }}" value="A">&nbsp;A、正确&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="{{ sub_j.pk }}" value="B">&nbsp;B、错误&nbsp;&nbsp;&nbsp;
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>
<SCRIPT type="text/javascript">
    var maxtime = Math.floor({{ paper.test_time }})*60; //一个小时，按秒计算，自己调整!
    $(function () {
        timer = setInterval('CountDown()',1000);  // 这里必须要是引号引起来
    })

    function CountDown() {
        if (maxtime >= 0) {
            minutes = Math.floor(maxtime / 60);
            seconds = Math.floor(maxtime % 60);
            msg = "距离结束还有" + minutes + "分" + seconds + "秒";
            document.getElementById('timer').innerHTML = msg;
            if (maxtime === 300){
                alert("还剩5分钟");
            }
            --maxtime;
        } else {
            clearInterval(timer);
            alert("时间到，结束!");
            document.getElementsByClassName('tijiao')[0].click();  //这里得到的是一个集合，需要取出来才能click
        }
    }
</SCRIPT>
<div id="warring" style="color:red"></div>
</body>
</html>

