{% extends 'exam/index.html' %}
{% load exam_tags %}

{# 右侧内容板块 #}
{% block right-content-container %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'exam:paper_info' %}">考试中心</a></li>
        <li><a href="{% url 'exam:list_all_paper' %}">所有试卷</a></li>
        <li>编辑试卷</li>
    </ol>
    <div class="col-md-8 col-md-offset-2">
        <form action="" method="post">
    {% csrf_token %}
    {% for obj in form_obj %}
        <label>{{ obj.label }}</label>{{ obj }}
    {% endfor %}
        <input type="hidden" name="all" value="{{ all }}">
        <div style="margin: 10px">
            <a class="btn btn-default pull-right" href="javascript:history.go(-1);">返回</a>
            <input type="submit" class="btn btn-success pull-right" style="margin: 0 10px;" value="保存">
        </div>

    </form>
    </div>

{% endblock %}