{% extends 'exam/index.html' %}
{% load exam_tags %}

{# 右侧内容板块 #}
{% block right-content-container %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'exam:qsbk_info' %}">题库中心</a></li>
        <li><a href="{% url 'exam:list_questionbank_info' %}">题库列表</a></li>
        <li>编辑【{{ obj.name }}】题库信息</li>
    </ol>
    <div class="col-md-10 col-md-offset-1">
    <form action="" method="post">
    {% csrf_token %}
    {% for obj in form_obj %}
        <label>{{ obj.label }}</label>{{ obj }}
    {% endfor %}
    <p style="margin-top: 10px;">
        说明：1、适用人员修改后，只有当该题库适用自己时，在【训练中心】--》【我要训练】列表中才会显示。
    </p>
        <div>
            <a class="btn btn-default pull-right" href="javascript:history.go(-1);" style="margin: 10px;">返回</a>
        <input type="submit" class="btn btn-success pull-right" style="margin: 10px" value="保存">
        </div>
    </form>
    </div>


{% endblock %}

{% block extra_js %}
    <script>

    </script>
{% endblock %}