{% extends 'exam/index.html' %}
{% load exam_tags %}
{% block extra-css %}
<style>
    form{
        height: 750px;
        overflow: scroll;
    }
    div#num_choice>button{
        width: 40px;
        height: 25px;
    }

</style>
{% endblock %}


{# 右侧内容板块 #}
{% block right-content-container %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'exam:train_info' %}">训练中心</a></li>
        <li><a href="{% url 'exam:train_list' %}">我要训练</a></li>
        <li id="typename1">{{ qb.name }}(校对模式，共{{ qs.count }}题)</li>
    </ol>
    <div id="num_choice" style="background-color: white;margin: 10px;">
        {% render_num_choice qs %}
    </div>

    <form action="{% url 'exam:train_check' qid %}" method="post" id="form1">
    <input type="hidden" name="qid" value="{{ qb.pk }}">
    <input type="hidden" name="train_type" value="">
    <input type="hidden" name="start_time" value="">
    {% csrf_token %}
        <div>
            <ul class="list-group" id="ul1">
                {% for subs in qs %}
                    <li class="list-group-item">
                        <span>{{ forloop.counter }}、{{ subs.get_question_type_display }}（{{ subs.score }}分） 难度：{{ subs.get_difficulty_display }}</span></sp>
                        <pre>{{ subs.title }}</pre>
                        <div>
                            <div>请选择你的答案：</div>
                            {% if subs.get_question_type_display == '单选题' %}
                                <input type="radio" name="{{ subs.pk }}" value="A">&nbsp;A&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="{{ subs.pk }}" value="B">&nbsp;B&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="{{ subs.pk }}" value="C">&nbsp;C&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="{{ subs.pk }}" value="D">&nbsp;D&nbsp;&nbsp;
                            {% elif subs.get_question_type_display == '多选题' %}
                                <input type="checkbox" name="{{ subs.pk }}" value="A">&nbsp;A&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="{{ subs.pk }}" value="B">&nbsp;B&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="{{ subs.pk }}" value="C">&nbsp;C&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="{{ subs.pk }}" value="D">&nbsp;D&nbsp;&nbsp;
                                <input type="checkbox" name="{{ subs.pk }}" value="D">&nbsp;E&nbsp;&nbsp;
                                <input type="checkbox" name="{{ subs.pk }}" value="D">&nbsp;F&nbsp;&nbsp;
                                <input type="checkbox" name="{{ subs.pk }}" value="D">&nbsp;G&nbsp;&nbsp;
                            {% elif subs.get_question_type_display == '判断题' %}
                                <input type="radio" name="{{ subs.pk }}" value="正确">&nbsp;正确&nbsp;&nbsp;
                                <input type="radio" name="{{ subs.pk }}" value="错误">&nbsp;错误&nbsp;&nbsp;&nbsp;
                            {% endif %}
                        {# todo 这里选项设计，判断题容错，结果加密，后台计算成绩的问题 #}
                        </div>
                    </li>
                {% endfor %}
            <button type="submit" class="btn btn-primary pull-right tijiao" style="margin:20px;">保存训练记录</button>

            </ul>
        </div>
    </form>

{% endblock %}

{% block extra_js %}
<script>
    function moveto(num){
        var height = 0;
        for (var i=0; i<num-1; i++){
            height += $('#ul1').children()[i].clientHeight + 1
        }
        // alert(height);
        $('#form1')[0].scrollTo({
        top: height,
        behavior: "smooth"})
    }

    // 点击按钮跳到指定题目
    $("#num_choice").children('button').each(function (){
        $(this).click(function (){
            moveto($(this).text())
        })
    })

    // 选择答案，改变题号颜色
    $('#ul1').find('input').each(function (){
        $(this).click(function (){
            // console.log('点击选项')
            var txt1 = $(this).parent().siblings('span')[0].innerText;
            var num1 = txt1.indexOf('、');
            var num2 = txt1.substr(0, num1);
            var btn = $('#num_choice').children('button')[num2-1];

            // alert($(this).attr('name'));
            $.ajax({url:'{% url "exam:train_check" qb.pk %}',
                method:'post',
                data:{'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val(),
                    'name':$(this).attr('name'), 'val': $(this).val()},
                success:function (res){
                    if (res == 'right'){
                        $(btn).css('background-color', '#1ef74a99')
                    }else {
                        $(btn).css('background-color', '#fa0b0b')
                    }
                },
            })


        })
    })

    // 提交内容前，给输入框赋值
    $('#form1').submit(function (){
        $('input[name="train_type"]').val($('#typename1').text());
    })

    // 载入开始时间
    $(document).ready(function (){
        var t = new Date()
        // alert(t)
        $('input[name="start_time"]').val(t.toJSON());
    })
</script>

{% endblock %}